<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
<div align="center">
    <h1>Guess the number game</h1>
    <h3 id="main-message">Main message content</h3>
    <h3 id="result-message">Result message content</h3>

    <form id="game-form" method="post" action="play2">
        <label for="guess"> Enter your guess </label>
        <input id="guess" th:type="number" name="guess"/>
        <input th:type="submit" th:value="submit">
    </form>


    <footer id="footerId">
        <p>Created by </p>
    </footer>
</div>
</body>
</html>